html{
    background-color: purple;
    border: yellow 1px solid;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: lightgrey;
    border-radius: 20px;

}
.logo{
    font-size: 2.5rem;
    color: purple;
    flex-grow: 1;
}

.leftlinks{
    
    flex-grow: 1;
    padding-left: 16px;
}
.leftlinks a,.rightlinks a{
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    
    
}

.rightlinks{
    flex-grow: 0;
    padding-right: 16px;
    }
.handmade{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: white;
    border-radius: 20px;
}
.landingBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.landing{
    width:auto;
    height:500px ;
    flex-wrap: wrap;
    border: yellow 2px solid;
}
.landingBox p{
    
    width: 45ch;
        font-size: 2rem;
        color:whitesmoke;
        background-color: inherit;
        padding: 6ch;
    }
.container-one{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 6ch;
    margin-bottom: 6ch;
    background-color:lightsteelblue;
    padding: 6ch;
    border-radius: 20px;
    
    
}
.container-one img{
    width: 300px;
    height: auto;
    
    border: solid yellow 2px;
}








